:root{
  --primary-color:#D04848;
  --secondary-color: #3D3B40;
  --background-color: white;
  --dark-color:#000;
  --light-color:#f4f4f4e3;
  --text-color: black;
  --swiper-navigation-color: black;
  --swiper-theme-color: black;
  --swiper-navigation-sides-offset: 0px;
  --swiper-navigation-size: 20px;
}

/* Basic styling */

/* Universal selector*/
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Roboto', 'Helvetica', 'Arial', 'sans-serif';
  color: var(--text-color);
  line-height: 1.6;
  background-color: var(--background-color);

}

.noAnimation *{
  -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation:  none !important;
        animation: none !important;
}


button.red-button{
  background-color: red;
  color: white;
  border: 1px red solid;
  border-radius: 20px;
}

button.red-button:hover{
  border: 1px red solid;
  background-color: white;
  color: red;
  
  transition: background-color 0.5s ease, color 0.5s ease;
}


.main-content{
  margin-bottom: 75px;
}



.main-promo{
  margin-top: 140px;

  height: 600px;
  width: 100vw;
}

.content{
  max-width: 1800px;
  margin: 0 auto;
  overflow: auto;

}

.home-content .deals{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 40px;
}

.home-content  h2.title{
  margin-left: 50px;
  font-size: 35px;
  margin-bottom: 20px;
}

.custom-slide{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

swiper-container{
  width: 95%;
}



.custom-prev-button i,
.custom-next-button i{
  font-size: 24px;

}

.custom-prev-button:hover,
.custom-next-button:hover{
  cursor: pointer;
}

.red-button{
  margin-right: auto;
  margin-left: auto;
}

.promos{
  margin-top: 60px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 480px;
  gap: 50px;
  width: 95%;
  margin-left: 50px;
  padding-right: 50px;
  padding-bottom: 40px;
}

/* Products page */
.page{
  margin-top: 140px;
  width: 100vw;
}


.products-page,
.notfound{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products-page h1,
.notfound h1{
  margin: 40px 0px;
}

.products-page .products{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

/* Product info page*/
.productInfo{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
  padding-top: 20px;
  width: 900px;

}


.productInfo img{
  width: 450px;
  height: 675px;
  object-fit: contain;
  border: 1px solid black;
}

.productInfo .details{
  width: 400px;

}

.productInfo .product{
  border: none;
  margin-top: 0px;
  padding-top: 0px;
  width: 100%;
}

.productInfo .product p,
.productInfo .quantity
{
  margin: 0px;
}

.productInfo .price
{
  margin: 15px 0px;
  width: 50px;
}

.productInfo .product button.cart{
  margin: 15px 0px;
  background-color: red;
  width: 100%;
}

.productInfo .product p:hover{
  cursor:auto;
}

.productInfo .info{
  border-bottom: 1px solid black;
  padding: 15px 0px;
}

.productInfo .info p{
  padding-top: 10px;

}

.productInfo .info .title{
  display: flex;
  justify-content: space-between;
}

.productInfo .info .title:hover{
  cursor: pointer;
}

.productInfo-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;

}

.productLayout{
  display: flex;
  justify-content: space-between;
  width: 900px;
  margin-bottom: 30px;
}

.productLayout div{
  display: flex;
  gap: 5px;
}

.productLayout .link{
  color: black;
}

.productLayout .link:hover{
  color: black;
  cursor: pointer;
}

.productLayout .productName,
.productLayout p.disabled{
  color: gray;
}

.productLayout p.disabled:hover{
  cursor: auto;
  color: gray;

}

/* Search page */
.search-page .products{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.categoryFilter{
  display: flex;
  gap: 15px
}

.categoryFilter:hover{
  cursor: pointer;
}

.categoryFilter .tick{
  border: black solid 1px;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.categoryFilter .tick i{
  color: red;
 font-size: 12px;
}