:root{
  --primary-color:#D04848;
  --secondary-color: #3D3B40;
  --background-color: white;
  --dark-color:#000;
  --light-color:#f4f4f4e3;
  --text-color: black;
  --swiper-navigation-color: black;
  --swiper-theme-color: black;
  --swiper-navigation-sides-offset: 0px;
  --swiper-navigation-size: 20px;
}

/* Basic styling */

/* Universal selector*/
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Roboto', 'Helvetica', 'Arial', 'sans-serif';
  color: var(--text-color);
  line-height: 1.6;
  background-color: var(--background-color);

}

.noAnimation *{
  -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation:  none !important;
        animation: none !important;
}




