
.navbar{
    display: flex;
    background-color: red;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0px 40px;
    color: white;
    z-index: 10;
}

.fg--search {
    position: fixed;
    width: 500px;
    top: 17.5px;
    left: 50%;
    margin-left: -250px;
    border: white solid 2px;
    border-radius: 20px;
    background-color: red;
  }
  
  .fg--search input {
    width: 100%;
    padding: 10px;
    display: block;
    background-color: red;
    color: white;
    border: none;
    border-radius: 20px;

  }

  .fg--search input::placeholder{
    color: white;
  }

  .fg--search input:focus{
    outline-width: 0;
  }
  
  
  .fg--search button {
    border: none;

    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    position: absolute;
    height: 35px;
    width: 50px;
    top: 0;
    right: -2px;

    z-index: 2;
    color: red;
    background-color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }

 

  button.button-active{
    border-bottom-right-radius: 0px;

  }

  .shoppingCart{
    display: flex;
    align-items: center;
    gap: 7.5px;
  }

  .shoppingCart div{
    background-color: white;
    color: red;
    height: 20px;
    width: 20px;
    text-align: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .shoppingCart:hover{
    cursor: pointer;
  }

  .trending-items{
    padding: 20px 10px;
  }

  .trending-items h2{
    font-size: 14px;
  }

  .trending-item{
    display: flex;
    position: relative;
    padding: 10px 10px;
    gap: 10px;
  }

  .trending-item:hover{
    cursor: pointer;
  }

  .trending-item div{
    display: flex;
    flex-direction: column;
  }

  .trending-item h2{
    font-size: 14px;
  }

  .trending-item p{
    font-size: 10px;
  }

  .trending-item img{
    height: 40px;
    width: 30px;
  }

  .menu{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    position: fixed;
    top: 70px;
    width: 100%;
    margin: 20px;
    font-size: 1.2rem;
  }

  .menuItem{
    position: relative;
  }

  .subMenu{
    position: absolute;
    top: 30px;
    font-size: 1rem;
    width: max-content;
  }

  .subMenu p:hover,
  .clickable:hover{
    cursor: pointer;
    color: red;
  }

  

