
.main-content{
    margin-top: 140px;
}

.main-add{
    position: absolute;
    top: 140px;
    left: 0;
    bottom: 0;
    right: 0;
    height: 600px;
    width: 100vw;
}

.add{
    position: relative;
    height: 100%;
    width: 100%;

}

.add img{
    width: 100%;
    height: 100%;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}



.add .text{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 450px;
}

.add .text > * {
    margin: 10px 0px;
    line-height: normal;

}

.add h3{
    font-size: 30px;
}

.add h2{
    font-size: 55px;
}

.add h4{
    font-size: 38px;
}

.add button{
    background-color: red;
    color: white;
    border: 1px red solid;
    border-radius: 20px;
}

.add button:hover{
    border: 1px red solid;
    background-color: white;
    color: red;
    
    transition-duration: 1s;
}
