
.cartPreview{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    height: 100vh;
    background-color: white;
    width: 400px;
    animation: MoveIn;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-direction: normal;
}

@keyframes MoveIn {
  0%   {right: -400px; top: 0px;}
  100%  {right: 0px; top: 0px;}
}

@keyframes MoveOut {
    0%   {right: 0px; top: 0px;}
    100%  {right: -400px; top: 0px;}
  }

.cartPreview.hide{
    animation: MoveOut;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-direction: normal;
    right: -400px;
}




.cartPreview .title{
    background-color: red;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0px 20px;
}

.cartPreview .cart{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: calc(100vh - 150px);
    padding-top: 20px;
}

.cartPreview .cartItems{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    overflow: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.cartPreview .cartItems::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.cartPreview .cartItem{
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
    width: 100%;
    padding: 20px 50px;
}

.cartPreview .cartItem p{
    font-size: 12px;
}

.cartItems .cartItem h3{
    font-size: 14px;
}

.cartPreview .cartItem img{
    width: 50px;
    height: 75px;
    object-fit: contain;
}

.cartPreview .quantity{
    margin: 0px;
    margin-top: 5px;
    width: 60px;
}

.cartPreview .quantity p,
.cartPreview .quantity button{
    font-size: 12px;
}

.cartItem .remove{
    position: absolute;
    top: 20px;
    right: 50px;
    padding: 5px;
}

.cartItem .remove:hover{
    cursor: pointer;
}

.cartPreview .summary{
    padding: 0px 30px;
    width: 100%;
}

.cartPreview .summary .total{
    padding-bottom: 40px;
}

.cartPreview button{
    width: 100%;
}


.cartPreview .price{
    color: black;
    font-weight: 600;
    display: flex;
    gap: 5px;
    margin: 0px 0px;
}

.cartPreview .price p{
    margin: 0px;
    font-size: 14px;

}

.cartPreview .old-price{
    text-decoration: line-through;
    font-weight: 300;
}

.shadow{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 50%;
    z-index: 50;
}

 .shadow.hide{
    display: none;
}