.promo{
    position: relative;
    height: 100%;
    width: 100%;

}

.promo img{
    width: 100%;
    height: 100%;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}



.promo .text{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 450px;
}

.promo .text > * {
    margin: 10px 0px;
    line-height: normal;

}

.promo h3{
    font-size: 30px;
}

.promo h2{
    font-size: 55px;
}

.promo h4{
    font-size: 38px;
}

.promo button{
    background-color: red;
    color: white;
    border: 1px red solid;
    border-radius: 20px;
}

.promo button:hover{
    border: 1px red solid;
    background-color: white;
    color: red;
    
    transition-duration: 1s;
}



.showImage {
    position: absolute;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 1000ms;
  }
  
  .hideImage {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 1000ms, opacity 1000ms;
  }